version: '3'
services:
  postgres:
    image: library/postgres:13.4-alpine
    container_name: postgres
    restart: on-failure
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB}
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./docker/postgres/:/docker-entrypoint-initdb.d/
    ports:
      - ${DB_PORT}:${DB_PORT}
    networks:
      - db-network
  postgres-admin:
    image: dpage/pgadmin4:latest
    container_name: postgres-admin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - 5050:80
    depends_on:
      - postgres
    networks:
      - db-network
networks:
  service-network:
    name: service-network
    driver: bridge
  db-network:
    name: db-network
    driver: bridge

volumes:
  db-data:
