.chatbox-list {
  width: 100%;
  height: 100%;
  position: relative;
}

.chatbox-header {
  padding: 12px 0px;
  height: 10%;
}

.chatbox-body {
  display: flex;
  height: 85%;
}

.chatbar {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.chat__icon_color {
  color: rgba(0, 0, 0, 0.25);
}

.chat__button {
  min-width: 100%;
}

#chat-panel {
  height: 100%;
}

.chat-messages {
  height: 65vh !important;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.link-button:hover,
.link-button:active,
.link-button:visited {
  color: blue;
}
