.form {
  width: 350px;
}

.form__item {
  padding: 0.1rem 0rem;
}

.form__item_1 {
  padding: 1rem 0rem;
}

.form__icon_color {
  color: rgba(0, 0, 0, 0.25);
}

.form__error {
  color: #ff0000bf;
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
  border: 1px solid;
  border-radius: 10px;
}

.form .login-form-button {
  min-width: 100%;
}
